@model Candidate

<div>
  <h3>Congratulations, @Model.FullName!</h3>
  <p class="lead">Your feedback has been submitted successfully.</p> <p>Thank you for your time and effort.</p>
  <hr>
  <blockquote class="blockquote">
    You have enrolled in the @Model.SelectedCourse course. You will be notified once the course starts.

    <p class="text-muted">You applied on @Model.ApplyAt.</p>

    <div class="btn-group">
      <a asp-action="Index" class="btn btn-outline-success">Applications</a>
      <a asp-action="Index" asp-controller="Home" class="btn btn-success">Home</a>
    </div>
  </blockquote>
</div>
